body {
  font-family: 'Public Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


/* Header Section */
#headerText {
  font-size: larger;
  font-weight: 200;
}

#headerSubtext {
  font-size: large;
}

/* RA Phones */
.raPhoneSection {
  margin-top: 30px;
}
.raPhones {
  display: flex;
  flex-direction: row;
}

/* Good 2 Talk */
.good2Talk {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Calendar Icon */
#calendarIcon {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Socials */
.socialsIcons {
  margin-top: 10px;
}

/* Phone Sections */
h5, h3, p {
  margin: 0px;
}
.phoneSection {
  margin: 30px;
}

a {
  text-decoration: none;
  color: #F18F01;
  font-size: x-large;
}

.iconLink {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 4em;
}

@media only screen and (max-width: 800px) {
  .raPhones {
    flex-direction: column;
  }
}